td, th{
  text-align: center;
  font-family: 'Times New Roman', bold;
  }
h1{
  color: #039dab;
  font-family: 'Times New Roman', bold;
  font: 50px;
  padding: 10px;
  }
td,th {
  border:3px solid;
  background-color: #364d4c;
  padding: 12px;
  }

img{
  width: 275px;
  height: 275px;
  }