td, th{
  text-align: center;
  background-color: #8a87d6;
  font-family: 'Times New Roman', bold;
  }
h1{
  background-color: #039dab;
  font-family: 'Times New Roman', bold;
  font: 50px;
  text-align: center;
  padding: 10px;
  }
td {
  border:3px solid;
  background-color: #364d4c;
  padding: 12px;
  }
tr {
	background-color: #98d4ed;
	font: 15 px;
	text-align: center;
  }
page {
  background-image: url("nebula.jpg");
  }
img{
  width: 275px;
  height: 275px;
  }